services:

  synapse:
    container_name: synapse
    image: matrixdotorg/synapse:v1.142.0@sha256:f33543130e015d85c27a6d736e2ae013a845954203f4b0163c5f170123f2b3b1
    restart: unless-stopped
    environment:
      SYNAPSE_CONFIG_PATH: /data/homeserver.yaml
    volumes:
      - /mnt/storage/matrix/synapse:/data
    networks:
      - web
      - db
      - bridges
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.synapse.entryPoints=websecure
      - traefik.http.routers.synapse.rule=Host(`matrix.{{ main_domain }}`)
      - traefik.http.routers.synapse.service=synapse
      - traefik.http.services.synapse.loadBalancer.server.port=8008

  matrix_mas:
    container_name: matrix_mas
    image: ghcr.io/element-hq/matrix-authentication-service:1.6.0@sha256:15fdb4665aa339261d4352c058c221470d040a04cd59117c3956994d9e8edc27
    restart: unless-stopped
    environment:
      MAS_CONFIG: /config/mas_config.yaml
    volumes:
      - /mnt/storage/matrix/mas:/config
    networks:
      - web
      - db
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.matrix_mas.entryPoints=websecure
      # Regex path added as compatibility layer as per https://element-hq.github.io/matrix-authentication-service/setup/reverse-proxy.html#compatibility-layer
      - traefik.http.routers.matrix_mas.rule=Host(`matrix-mas.{{ main_domain }}`) || (Host(`matrix.{{ main_domain }}`) && PathRegexp(`^/_matrix/client/(.*)/(login|logout|refresh)`))
      - traefik.http.routers.matrix_mas.service=matrix_mas
      - traefik.http.services.matrix_mas.loadBalancer.server.port=8080



  element:
    container_name: element
    image: vectorim/element-web:v1.12.3@sha256:c32818c43fd361d8440e46a86b51a7e3092a094502e2f097ec9b8fd93ccb3a85
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/element/config.json:/app/config.json:ro
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.element.entryPoints=websecure
      - traefik.http.routers.element.rule=Host(`element.{{ main_domain }}`)
      - traefik.http.routers.element.service=element
      - traefik.http.services.element.loadBalancer.server.port=80

  ###########
  # Bridges #
  ###########
  matrix-discord:
    container_name: matrix-discord
    image: dock.mau.dev/mautrix/discord:v0.7.5@sha256:c447c097124d47824bc446f859ba1aa6ab8fda4b4d0477d1ca28db4a4cbb059b
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_discord:/data
    networks:
      - bridges
      - db

  matrix-signal:
    container_name: matrix-signal
    image: dock.mau.dev/mautrix/signal:v25.11@sha256:48ee701ae8f8be8c0c678a42563cf3f7770d8bd23321a0ca40191561eb43faed
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_signal:/data
    networks:
      - bridges
      - db

  matrix-whatsapp:
    container_name: matrix-whatsapp
    image: dock.mau.dev/mautrix/whatsapp:v25.11@sha256:9bc5c344d12a9a9112c7c9353f9c640a633120ffc2b5f01212236ab13cef44ac
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_whatsapp:/data
    networks:
      - bridges
      - db

  matrix-meta:
    container_name: matrix-meta
    image: dock.mau.dev/mautrix/meta:v25.11@sha256:1cfaf8bc3ec9aa3ce1aeaddfa7b4e15e8f974cbd077d803db64e49220cc505e5
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_meta:/data
    networks:
      - bridges
      - db

  ###########
  #  Bots   #
  ###########
  maubot:
    container_name: maubot
    image: dock.mau.dev/maubot/maubot:v0.6.0@sha256:6968ddea1e08aa7f8ac70ac7a706663fe8d7b4d6f96cd7a6bb8548637fb8cd17
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/maubot:/data
      - "{{ docker_mounts_directory }}/matrix/maubot/dbs:/data/dbs"
    networks:
      - bridges
      - db
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.maubot.entryPoints=websecure
      - traefik.http.routers.maubot.rule=Host(`maubot.{{ main_domain }}`)
      - traefik.http.routers.maubot.service=maubot
      - traefik.http.services.maubot.loadBalancer.server.port=29316
      - traefik.http.routers.maubot.middlewares=lan-whitelist

networks:
  web:
    external: true
  db:
    external: true
  bridges:
