services:

  synapse:
    container_name: synapse
    image: matrixdotorg/synapse:v1.141.0@sha256:562adbfc3df12d1024c7277b9807086ed79d8d5fabe24187a31d787af050a6a4
    restart: unless-stopped
    environment:
      SYNAPSE_CONFIG_PATH: /data/homeserver.yaml
    volumes:
      - /mnt/storage/matrix/synapse:/data
    networks:
      - web
      - db
      - bridges
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.synapse.entryPoints=websecure
      - traefik.http.routers.synapse.rule=Host(`matrix.{{ main_domain }}`)
      - traefik.http.routers.synapse.service=synapse
      - traefik.http.services.synapse.loadBalancer.server.port=8008

  matrix_mas:
    container_name: matrix_mas
    image: ghcr.io/element-hq/matrix-authentication-service:1.5.0@sha256:6c4ecc128668ae3cbf9cb319ee45ad45c0f01a96adca4841d10e662dd4a7fdc1
    restart: unless-stopped
    environment:
      MAS_CONFIG: /config/mas_config.yaml
    volumes:
      - /mnt/storage/matrix/mas:/config
    networks:
      - web
      - db
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.matrix_mas.entryPoints=websecure
      # Regex path added as compatibility layer as per https://element-hq.github.io/matrix-authentication-service/setup/reverse-proxy.html#compatibility-layer
      - traefik.http.routers.matrix_mas.rule=Host(`matrix-mas.{{ main_domain }}`) || (Host(`matrix.{{ main_domain }}`) && PathRegexp(`^/_matrix/client/(.*)/(login|logout|refresh)`))
      - traefik.http.routers.matrix_mas.service=matrix_mas
      - traefik.http.services.matrix_mas.loadBalancer.server.port=8080



  element:
    container_name: element
    image: vectorim/element-web:v1.12.3@sha256:c32818c43fd361d8440e46a86b51a7e3092a094502e2f097ec9b8fd93ccb3a85
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/element/config.json:/app/config.json:ro
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.element.entryPoints=websecure
      - traefik.http.routers.element.rule=Host(`element.{{ main_domain }}`)
      - traefik.http.routers.element.service=element
      - traefik.http.services.element.loadBalancer.server.port=80

  ###########
  # Bridges #
  ###########
  matrix-discord:
    container_name: matrix-discord
    image: dock.mau.dev/mautrix/discord:v0.7.5@sha256:c447c097124d47824bc446f859ba1aa6ab8fda4b4d0477d1ca28db4a4cbb059b
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_discord:/data
    networks:
      - bridges
      - db

  matrix-signal:
    container_name: matrix-signal
    image: dock.mau.dev/mautrix/signal:v25.10@sha256:12a6d8cb9eb913a3ca9ff0dc9a8015e8e360ae654d8c031183d625b866d7e647
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_signal:/data
    networks:
      - bridges
      - db

  matrix-whatsapp:
    container_name: matrix-whatsapp
    image: dock.mau.dev/mautrix/whatsapp:v25.10@sha256:208cc17e8422c4299e6115d628aac124257c2f982302eee9435bace7a5b14c91
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_whatsapp:/data
    networks:
      - bridges
      - db

  matrix-meta:
    container_name: matrix-meta
    image: dock.mau.dev/mautrix/meta:v25.10@sha256:595ce3eb2a00e3214163abe2261cfdd7b7ac3ce04934cf01ca9927635e23066e
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/matrix_meta:/data
    networks:
      - bridges
      - db

  ###########
  #  Bots   #
  ###########
  maubot:
    container_name: maubot
    image: dock.mau.dev/maubot/maubot:v0.5.2@sha256:b9f28d08d926a8522da1b220374e7fd50b32b07311c21fc6ca6f0690f9fb5402
    restart: unless-stopped
    volumes:
      - /mnt/storage/matrix/maubot:/data
      - "{{ docker_mounts_directory }}/matrix/maubot/dbs:/data/dbs"
    networks:
      - bridges
      - db
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.maubot.entryPoints=websecure
      - traefik.http.routers.maubot.rule=Host(`maubot.{{ main_domain }}`)
      - traefik.http.routers.maubot.service=maubot
      - traefik.http.services.maubot.loadBalancer.server.port=29316
      - traefik.http.routers.maubot.middlewares=lan-whitelist

networks:
  web:
    external: true
  db:
    external: true
  bridges:
