services:
  postgres:
    image: postgres:16.10@sha256:3c2aa0f6e0a0f71adf7c362c7278578148ae697e37b0224c0e1bbadb9d2a2058
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "{{ db__pg_password }}"
    volumes:
      - "{{ docker_mounts_directory }}/databases/postgres/data:/var/lib/postgresql/data"
    # Expose port directly on host so ansible can connect to manage databases
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - db
    mem_limit: 1g

  pgadmin:
    image: dpage/pgadmin4:9.8@sha256:d115bcd737940a6cfb61a54439d50de8b850e0782e2363102c9fa761f4022f49
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "{{ db__pgadmin_email }}"
      PGADMIN_DEFAULT_PASSWORD: "{{ db__pgadmin_password }}"
      PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: "10" # debug
      PGADMIN_CONFIG_SHARED_STORAGE: >-
        [{'name':'Backups',
        'path': '/backups',
        'restricted_access': False}]
      PGADMIN_CONFIG_AUTHENTICATION_SOURCES: "['oauth2']"
    volumes:
      - "{{ docker_mounts_directory }}/databases/postgres/servers.json:/pgadmin4/servers.json:ro"
      - "{{ docker_mounts_directory }}/databases/postgres/config_local.py:/pgadmin4/config_local.py:ro"
      - /mnt/storage/backups:/backups
    depends_on:
      - postgres
    networks:
      - db
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.pgadmin.entryPoints=websecure
      - traefik.http.routers.pgadmin.rule=Host(`pgadmin.{{ ansible_fqdn }}`)
      - traefik.http.routers.pgadmin.service=pgadmin
      - traefik.http.services.pgadmin.loadBalancer.server.port=80
    mem_limit: 1g

  postgres_backups:
    image: prodrigestivill/postgres-backup-local:17-alpine@sha256:fc89045b39352c01738646c4b35827760b342fd8b9a29cb26e1945a3bdf45f14
    restart: unless-stopped
    container_name: postgres_backups
    networks:
      - db
    depends_on:
      - postgres
    user: "5050:{{ ansible_user_gid }}"
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: "{{ db__pg_databases | map(attribute='name') | join(',') }}"
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "{{ db__pg_password }}"
      POSTGRES_EXTRA_OPTS: "--format c" # So we can use pg_restore to restore the database
      TZ: "{{ iana_timezone }}"
      HEALTHCHECK_ID: "{{ db__pg_dump_healthcheck_id }}"
      SCHEDULE: 30 */4 * * *
    volumes:
      - /mnt/storage/backups/postgres:/backups
      - ./hooks:/hooks
    mem_limit: 64m

networks:
  db:
    external: true
  web:
    external: true
