services:
  adguard:
    image: adguard/adguardhome:v0.107.70@sha256:33e2240c466b2bb1d4fe9d65fd86178160bf6ee8835cf7b50ab3a7c5e39571fe
    container_name: adguard
    restart: unless-stopped
    volumes:
      - "{{ data_directory }}/adguard/work:/opt/adguardhome/work"
      - "{{ data_directory }}/adguard/conf:/opt/adguardhome/conf"
    network_mode: host
