[Unit]
Description=Enable Wake-up on LAN

[Service]
Type=oneshot
ExecStart=/sbin/ethtool -s {{ network_interface }} wol g

[Install]
WantedBy=basic.target
