services:
  recipes:
    image: vabene1111/recipes:2.3.3@sha256:af6bd76e703d644748a93d581da05c25159d742b94b2da9eddadaaec93555858
    container_name: recipes
    restart: unless-stopped
    volumes:
      - /mnt/storage/recipes/staticfiles:/opt/recipes/staticfiles
      - /mnt/storage/recipes/mediafiles:/opt/recipes/mediafiles
    networks:
      - db
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.recipes.entryPoints=websecure
      - traefik.http.routers.recipes.rule=Host(`recipes.{{ main_domain }}`)
      - traefik.http.routers.recipes.middlewares=authelia@docker
    environment:
      SECRET_KEY: "{{ recipes__secret_key }}"
      # your default timezone See https://timezonedb.com/time-zones for a list of timezones
      TZ: "{{ iana_timezone }}"

      # allowed hosts (see documentation), should be set to your hostname(s) but might be * (default) for some proxies/providers
      ALLOWED_HOSTS: "recipes.{{ main_domain }}"

      # OIDC
      SOCIAL_PROVIDERS: allauth.socialaccount.providers.openid_connect
      SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"authelia","name":"Authelia","client_id":"{{ backbone__authelia__oidc_recipes_clientid }}","secret":"{{ backbone__authelia__oidc_recipes_clientsecret }}","settings":{"server_url":"https://auth.{{ main_domain }}/.well-known/openid-configuration"}}]}}'

      # add only a database password if you want to run with the default postgres, otherwise change settings accordingly
      DB_ENGINE: django.db.backends.postgresql
      POSTGRES_HOST: postgres
      POSTGRES_DB: recipes
      POSTGRES_PORT: 5432
      POSTGRES_USER: recipes
      POSTGRES_PASSWORD: "{{ recipes__db_password }}"

networks:
  web:
    external: true
  db:
    external: true
