services:
  foundryvtt:
    image: felddy/foundryvtt:13@sha256:41d518782f2fabbec887413c56da8ef8175c22fb5a75fde45382661443a8ae6b
    container_name: foundryvtt
    restart: unless-stopped
    volumes:
      - "{{ docker_mounts_directory }}/foundryvtt:/data:rw"
    environment:
      - FOUNDRY_USERNAME={{ foundryvtt__username }}
      - FOUNDRY_PASSWORD={{ foundryvtt__password }}
      - FOUNDRY_ADMIN_KEY={{ foundryvtt__admin_key }}
      - FOUNDRY_LOCAL_HOSTNAME=dnd.{{ main_domain }}
      - FOUNDRY_HOSTNAME=dnd.{{ main_domain }}
      - FOUNDRY_PROXY_PORT=443
      - FOUNDRY_PROXY_SSL=true
      - FOUNDRY_MINIFY_STATIC_FILES=true
      - TIMEZONE={{ iana_timezone }}
      - FOUNDRY_TELEMETRY=true
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.routers.foundryvtt.entryPoints=websecure
      - traefik.http.routers.foundryvtt.rule=Host(`dnd.{{ main_domain }}`)
      - traefik.http.routers.foundryvtt.service=foundryvtt
      - traefik.http.services.foundryvtt.loadBalancer.server.port=30000
      - traefik.http.routers.foundryvtt.middlewares=authelia@docker
    mem_limit: 256m

networks:
  web:
    external: true
