services:
  alloy:
    image: grafana/alloy:v1.12.0@sha256:85e4a706181741dd735d9a69bea81f9e03e16d5349bff46dd9640379f143c007
    container_name: alloy
    restart: unless-stopped
    volumes:
      - "{{ docker_mounts_directory }}/monitoring/alloy/alloy-config.alloy:/etc/alloy/config.alloy"
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    command: run --server.http.listen-addr=0.0.0.0:12345 --disable-reporting /etc/alloy/config.alloy
    ports:
      - 12345:12345
    mem_limit: 2g
