services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:1.9.0@sha256:cfdb348daea9fa2e191a8589914d7f4fb86f4051c1a9b376113d45a3c979c5b2
    container_name: speedtest-tracker
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ iana_timezone }}
      - "APP_KEY={{speedtest_tracker__app_key}}"
      - "APP_URL=https://speedtest-tracker.{{ main_domain }}"
      - SPEEDTEST_SCHEDULE=30 * * * *
      # See https://c.speedtest.net/speedtest-servers-static.php
      - SPEEDTEST_SERVERS=3242,32582,35058,11611,9913
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=speedtest_tracker
      - DB_USERNAME=speedtest_tracker
      - "DB_PASSWORD={{ speedtest_tracker__db_pass }}"
      - DISPLAY_TIMEZONE={{ iana_timezone }}
      - PRUNE_RESULTS_OLDER_THAN=0
      - PUBLIC_DASHBOARD=true
      - MAIL_MAILER=smtp
      - MAIL_HOST={{ smtp__host }}
      - MAIL_PORT={{ smtp__port }}
      - MAIL_USERNAME={{ smtp__user }}
      - MAIL_PASSWORD={{ smtp__pass }}
      - MAIL_ENCRYPTION=tls
      - MAIL_FROM_ADDRESS="speedtest-tracker@{{ main_domain }}"
      - MAIL_FROM_NAME="Speedtest Tracker"
    networks:
      - web
      - db
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.speedtest-tracker.entryPoints=websecure
      - traefik.http.routers.speedtest-tracker.rule=Host(`speedtest-tracker.{{ main_domain }}`)
      - traefik.http.routers.speedtest-tracker.middlewares=authelia@docker
    volumes:
      - "{{ docker_mounts_directory }}/speedtest-tracker:/config"
    mem_limit: 256m

networks:
  web:
    external: true
  db:
    external: true
