services:
  s-pdf:
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:2.1.1@sha256:c351ebf9d7602f1e63c49b20043739fc5ee13defa43e40646bf09aabc10f6e21
    container_name: s-pdf
    restart: unless-stopped
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.s-pdf.entryPoints=websecure
      - traefik.http.routers.s-pdf.rule=Host(`pdf.{{ main_domain }}`)
      - traefik.http.services.s-pdf.loadBalancer.server.port=8080
      - traefik.http.routers.s-pdf.middlewares=authelia@docker
    volumes:
      - "{{ docker_mounts_directory }}/s-pdf/ocr:/usr/share/tesseract-ocr/5/tessdata" #Required for extra OCR languages
      - "{{ docker_mounts_directory }}/s-pdf/config:/configs"
    mem_limit: 512m
networks:
  web:
    external: true
