services:
  personal-website:
    image: ghcr.io/snyssen/personal-website:2.10.4@sha256:38a1d276685174ac18667b3a745b808b19f192ae39bd360b917b40db6fa91607
    restart: unless-stopped
    container_name: personal-website
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.routers.personal-website.entryPoints=websecure
      - traefik.http.routers.personal-website.rule=Host(`{{ main_domain }}`)
      - traefik.http.routers.personal-website.middlewares=traefik-compress
      - traefik.http.routers.personal-website.service=personal-website
      - traefik.http.services.personal-website.loadBalancer.server.port=80
    mem_limit: 512m

networks:
  web:
    external: true
