services:
  personal-website:
    image: ghcr.io/snyssen/personal-website:2.10.5@sha256:fbf734ad720330082e5fefc4d4258140c7dabd777190e5b1f54856506f7b8cb8
    restart: unless-stopped
    container_name: personal-website
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.http.routers.personal-website.entryPoints=websecure
      - traefik.http.routers.personal-website.rule=Host(`{{ main_domain }}`)
      - traefik.http.routers.personal-website.middlewares=traefik-compress
      - traefik.http.routers.personal-website.service=personal-website
      - traefik.http.services.personal-website.loadBalancer.server.port=80
    mem_limit: 512m

networks:
  web:
    external: true
