services:
  nextcloud_redis:
    image: redis:8.2.3@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
    container_name: nextcloud_redis
    restart: unless-stopped
    networks:
      - internal
    mem_limit: 32m

  nextcloud:
    image: nextcloud:32.0.1@sha256:5b043f7ea2f609d5ff5635f475c30d303bec17775a5c3f7fa435e3818e669120
    container_name: nextcloud
    restart: unless-stopped
    networks:
      - internal
      - web
      - db
      - ldap
    depends_on:
      - nextcloud_redis
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.nextcloud.entryPoints=websecure
      - traefik.http.routers.nextcloud.middlewares=nextcloud_headers,nextcloud_redirect
      - traefik.http.routers.nextcloud.rule=Host(`cloud.{{ main_domain }}`)
      - traefik.http.middlewares.nextcloud_headers.headers.customFrameOptionsValue=SAMEORIGIN
      - traefik.http.middlewares.nextcloud_headers.headers.contentSecurityPolicy=frame-ancestors 'self' cloud.{{ main_domain }}
      - traefik.http.middlewares.nextcloud_headers.headers.stsSeconds=155520011
      - traefik.http.middlewares.nextcloud_headers.headers.stsIncludeSubdomains=true
      - traefik.http.middlewares.nextcloud_headers.headers.stsPreload=true
      - traefik.http.middlewares.nextcloud_redirect.redirectregex.regex=/.well-known/(card|cal)dav
      - traefik.http.middlewares.nextcloud_redirect.redirectregex.replacement=/remote.php/dav/
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD={{ nextcloud__postgres_password }}
      - POSTGRES_HOST=postgres
      - NEXTCLOUD_ADMIN_USER={{ nextcloud__nextcloud_admin }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud__nextcloud_password }}
      - REDIS_HOST=nextcloud_redis
      - NEXTCLOUD_TRUSTED_DOMAINS=cloud.{{ main_domain }}
      - OVERWRITEPROTOCOL=https
    volumes:
      - /mnt/storage/nextcloud:/var/www/html
      - /mnt/storage/nextcloud_logs:/var/logs
      - /mnt/storage/paperless:/paperless
      - /mnt/storage/streaming/media:/media
    mem_limit: 2g

  # TODO merge with alloy
  nextcloud_promtail:
    image: grafana/promtail:3.5.8@sha256:2a7c5469d687377de5cb7c8356cf96090c0069814d90ef35f9874db445999609
    container_name: nextcloud_promtail
    restart: unless-stopped
    volumes:
      - "/mnt/storage/nextcloud_logs:/var/logs:ro"
    command: -config.file=/var/logs/promtail-config.yml
    mem_limit: 256m

networks:
  monitoring:
    external: true
  web:
    external: true
  db:
    external: true
  ldap:
    external: true
  internal:
