services:
  actual-budget:
    container_name: actual-budget
    image: docker.io/actualbudget/actual-server:25.12.0@sha256:7f38b450cc3b7523dd5377792895e58b9cf333769e5a27f89e643b6f5fc60565
    # environment:
    #   ACTUAL_LOGIN_METHOD: header
    networks:
      - web
    labels:
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.actual.entryPoints=websecure
      - traefik.http.routers.actual.rule=Host(`actual.{{ main_domain }}`)
      # - traefik.http.routers.actual.middlewares=authelia@docker
      - traefik.http.routers.actual.service=actual
      - traefik.http.services.actual.loadBalancer.server.port=5006
    volumes:
      - "{{ docker_mounts_directory }}/actual-budget:/data"
    restart: unless-stopped
networks:
  web:
    external: true
