name: ansible-lint
on:
  pull_request:
    branches: ["main"]
jobs:
  build:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Prepare vault pass file
        env:
          ANSIBLE_VAULT_PASSWORD: ${{secrets.VAULT_PASSWORD}}
        shell: bash
        run: echo "$ANSIBLE_VAULT_PASSWORD" > .vault_pass
      - name: Run ansible-lint
        uses: ansible/ansible-lint@36075fad72d67ca74facfb2e5436a2428a4b5d5d # v25.12.0
        with:
          args: "-c .ansible-lint"
          requirements_file: "requirements.yml"
